############################################
# Application
############################################

APP_NAME=TRAIL AI
APP_VERSION=1.0.0
ENVIRONMENT=development
DEBUG=True

############################################
# Server
############################################

HOST=0.0.0.0
PORT=8000

############################################
# API Keys
############################################

GROQ_API_KEY=paste_your_key_here
OPEN_TRIP_MAP_API=paste_your_key_here

DEFAULT_MODEL=llama-3.3-70b-versatile

TEMPERATURE=0.2

MAX_TOKENS=2048

############################################
# PostgreSQL
############################################

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=trail_app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

############################################
# Redis
############################################

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

############################################
# Logging
############################################

LOG_LEVEL=INFO

#############################################
# External APIs
#############################################
# open meteo api's
GEOCODING_URL=https://geocoding-api.open-meteo.com/v1/search
FORECAST_URL=https://api.open-meteo.com/v1/forecast

# attraction (OpenTripMap)
GEONAME_URL=https://api.opentripmap.com/0.1/en/places/geoname
RADIUS_URL=https://api.opentripmap.com/0.1/en/places/radius


# Hotel search 
# (https://developers.amadeus.com/)
# (https://developer.hotelbeds.com/)

HOTELBEDS_API_KEY=your_api_key
HOTELBEDS_SECRET=your_secret
HOTEL_BEDS_HOTEL_SEARCH_URL=https://api.test.hotelbeds.com/hotel-api/1.0/hotels

DEFAULT_RADIUS_METERS=10_000